policy_module(globalboost, 1.100.1)

########################################
#
# Declarations
#

type globalboost_t;
type globalboost_exec_t;
init_daemon_domain(globalboost_t, globalboost_exec_t)

permissive globalboost_t;

type globalboost_initrc_exec_t;
init_script_file(globalboost_initrc_exec_t)

type globalboost_conf_t;
files_type(globalboost_conf_t)

type globalboost_var_lib_t;
files_type(globalboost_var_lib_t)

type globalboost_var_run_t;
files_type(globalboost_var_run_t)

type globalboost_port_t;
corenet_port(globalboost_port_t)

########################################
#
# globalboost local policy
#
allow globalboost_t self:process { fork };

allow globalboost_t self:fifo_file rw_fifo_file_perms;
allow globalboost_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(globalboost_t, globalboost_conf_t, globalboost_conf_t)
manage_files_pattern(globalboost_t, globalboost_conf_t, globalboost_conf_t)

manage_dirs_pattern(globalboost_t, globalboost_var_lib_t, globalboost_var_lib_t)
manage_files_pattern(globalboost_t, globalboost_var_lib_t, globalboost_var_lib_t)
files_var_lib_filetrans(globalboost_t, globalboost_var_lib_t, { dir file })

manage_dirs_pattern(globalboost_t, globalboost_var_run_t, globalboost_var_run_t)
manage_files_pattern(globalboost_t, globalboost_var_run_t, globalboost_var_run_t)

sysnet_dns_name_resolve(globalboost_t)
corenet_all_recvfrom_unlabeled(globalboost_t)

allow globalboost_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(globalboost_t)
corenet_tcp_sendrecv_generic_node(globalboost_t)
corenet_tcp_sendrecv_all_ports(globalboost_t)
corenet_tcp_bind_generic_node(globalboost_t)

gen_require(`
    type globalboost_port_t;
')
allow globalboost_t globalboost_port_t:tcp_socket name_bind;

gen_require(`
    type globalboost_port_t;
')
allow globalboost_t globalboost_port_t:tcp_socket name_connect;

domain_use_interactive_fds(globalboost_t)

files_read_etc_files(globalboost_t)

miscfiles_read_localization(globalboost_t)

sysnet_dns_name_resolve(globalboost_t)

allow globalboost_t globalboost_exec_t:file execute_no_trans;
allow globalboost_t self:process setsched;
corecmd_exec_ls(globalboost_t)
corenet_tcp_connect_http_port(globalboost_t)
dev_read_urand(globalboost_t)
fs_getattr_xattr_fs(globalboost_t)
kernel_read_system_state(globalboost_t)
