[Unit]
Description=GlobalBoost's distributed currency daemon
After=network.target

[Service]
User=globalboost
Group=globalboost

Type=forking
PIDFile=/var/lib/globalboostd/globalboostd.pid
ExecStart=/usr/bin/globalboostd -daemon -pid=/var/lib/globalboostd/globalboostd.pid \
-conf=/etc/globalboost/globalboost.conf -datadir=/var/lib/globalboostd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
